.genericHtml h1 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
}

.genericHtml h2 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

.genericHtml h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.genericHtml p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    line-height: 1.6;
}

.genericHtml a {
    font-weight: bold;
    color: var(--link-color);
    text-decoration: none;
}

.genericHtml a:hover {
    text-decoration: underline;
}

.genericHtml ul {
    padding-left: 2.4rem;

}
.genericHtml h1 {
    margin-bottom: 0.8rem;
}

.genericHtml h1 {
    max-width: 100%;
    margin: 1.6rem 0;
    border-radius: 0.8rem;
    display: block;
    height: auto;
}