.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.footerLink {
    color: var(--text-muted);
    text-decoration: none;
}

.footerLink:hover {  
    color: var(--text-muted);
    text-decoration: underline;
}